<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thesleepconsultingcompany.slumber">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.thesleepconsultingcompany.slumber.ui.sleep.WakeupActivity"></activity>
        <activity android:name="com.thesleepconsultingcompany.slumber.ui.HeadacheActivity" />
        <activity android:name="com.thesleepconsultingcompany.slumber.ui.SleepActivity" />
        <activity android:name="com.thesleepconsultingcompany.slumber.DetailsActivity" />
        <activity android:name="com.thesleepconsultingcompany.slumber.MainActivity" />
        <activity android:name="com.thesleepconsultingcompany.slumber.SignUp" />
        <activity android:name="com.thesleepconsultingcompany.slumber.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.thesleepconsultingcompany.slumber.Login" />
    </application>

</manifest>